<section class="partial">
   <section>
      <h2>Resources</h2>
   </section>
   <section>
      <h3>Ember Inspector</h3>
      <h5>Inspecting routes</h5>
      <p>
         <img src="img/emberInspector/routes-screenshot.png" alt="">
      </p>
   </section>
   <section>
      <h3>Ember Inspector</h3>
      <h5>Inspecting Records</h5>
      <p>
         <img src="img/emberInspector/data-object-inspector.png" alt="">
      </p>
   </section>
   <section>
      <h3>Ember Inspector</h3>
      <h5>Deprecations</h5>
      <p>
         <img src="img/emberInspector/deprecations-screenshot.png" alt="">
      </p>
   </section>
   <section>
      <h3>Ember Inspector</h3>
      <h5>Debugging Promises</h5>
      <p>
         <img src="img/emberInspector/promises-screenshot.png" alt="">
      </p>
   </section>
   <section>
      <h3>Links</h3>

      <ul>
         <li>
            <a href="https://guides.emberjs.com">guides.emberjs.com</a>
         </li>
         <li>
            <a href="http://ember-cli.com">ember-cli.com</a>
         </li>
      </ul>
   </section>
</section>