<section class=partial>
   <section>
      <h2>What is Ember ?</h2>

      <p>
         Open-source JavaScript application framework
      </p>
      <p>
         Based on the model-view-controller (MVC) pattern
      </p>
      <p>
         Designed for Single Page Applications
      </p>
   </section>
   <section>
      <h3>History</h3>

      <dl>
         <dt>December 2011</dt>
         <dd>The SproutCore 2.0 framework was renamed to Ember.js</dd>
         <dt>August 2015</dt>
         <dd>Ember 2.0 was released</dd>
         <dt>Today</dt>
         <dd>The 1.x branch is still living / Ember.js 2.2 was released</dd>
      </dl>
   </section>
   <section>
      <h3>The Good</h3>

      <ul>
         <li>Favors convention over configuration</li>
         <li>Ember CLI</li>
         <li>Open source community drives the project</li>
      </ul>
   </section>
   <section>
      <h3>The Bad</h3>

      <ul>
         <li>Favors convention over configuration</li>
         <li>High learning curve</li>
         <li>Large(ish) - 163 KB minified</li>
      </ul>
   </section>
   <section>
      <h3>Convention over configuration</h3>

      <p>A software design paradigm</p>

      <h4 class="fragment" data-fragment-index="1">Why?</h4>
      <p class="fragment" data-fragment-index="2">Decrease the number of developers' decisions</p>
      <ul class="fragment" data-fragment-index="3">
         <li>
            Gaining simplicity
         </li>
         <li>
             Less configuration
         </li>
         <li>
            It is easier to join an existing project
         </li>
      </ul>
      <aside class="notes">
         <ul>
            <li>
               It seeks to decrease the number of decisions that developers need to make,
               gaining simplicity, and not necessarily losing flexibility.
            </li>
            <li></li>
         </ul>
      </aside>
   </section>
</section>