<section class=partial>
   <section>
      <h2>Ember-cli</h2>

      <ul>
         <li>
            The Ember.js command line utility
            <br>
            <br>
         </li>
         <li class="fragment" data-fragment-index="1">
            Provides a Broccoli powered asset pipeline,
         </li>
         <li class="fragment" data-fragment-index="2">
            a strong conventional project structure,
         </li>
         <li class="fragment" data-fragment-index="3">
            and a powerful addon system for extension
         </li>
      </ul>

      <p class="fragment" data-fragment-index="4">
         <em>Install with npm i -g ember-cli</em>
      </p>
   </section>
   <section>
      <h3>Why should I use Ember-cli ?</h3>

      <h4 class="fragment" data-fragment-index="1">ES6</h4>

      <p class="fragment" data-fragment-index="1">ES6 is automatically transpiled with Babel.js</p>
      <p class="fragment" data-fragment-index="1">Ember-CLI is based on ES6 modules</p>
      <br>

      <h4 class="fragment" data-fragment-index="2">Conventions</h4>

      <p class="fragment" data-fragment-index="2">All Ember-CLI apps are built in the same way.</p>
      <p class="fragment" data-fragment-index="2">This makes it very easy to collaborate or to inspect other ember apps!</p>
   </section>
   <section>
      <h3>Create a new project</h3>

      <pre><code class="shell">
   $ ember new &lt;project_name&gt;
      </code></pre>
      <img width="800" src="/img/ember_new_emberTodo.gif" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The project structure</h3>

      <img src="/img/Project_Structure.png" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The app structure</h3>

      <img src="/img/App_Structure.png" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Want to use the pod structure instead ?</h3>

      <img src="/img/App_Structure_Pod.png" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Few Commands</h3>

      <p>
         Development server
         <pre><code class="shell">
   $ ember serve
         </code></pre>
      </p>
      <p>
         Build with fingerprinting, minifying etc.
         <pre><code class="shell">
   $ ember build
         </code></pre>
      </p>
      <p>
         Testing with QUnit
         <pre><code class="shell">
   $ ember test
         </code></pre>
      </p>
      <p>
         Generating blueprints
         <pre><code class="shell">
   $ ember generate &lt;blueprint&gt; &lt;name&gt; &lbrack;--pod&rbrack;
         </code></pre>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Add a new resource</h3>

      <pre><code class="shell">
   $ ember generate resource &lt;resource_name&gt; &lt;options&gt;
      </code></pre>
      <img width="800" src="/img/ember_resource_emberTodo.gif" alt=""/>
   </section>
   <section>
      <h3>Install a plugin</h3>

      <pre><code class="shell">
   $ ember install &lt;plugin_name&gt;
      </code></pre>
      <p>
         <small><em>Sass instead of CSS?</em></small>
      </p>
      <img width="800" src="/img/ember_install_addon.gif" alt=""/>
   </section>
   <section>
      <h3>Many more plugins</h3>

      <ul>
         <li>Autoprefixer: ember-cli-autoprefixer</li>
         <li>Fake API for development: ember-cli-mirage</li>
         <li>moment.js: ember-moment</li>
         <li>Authentification: ember-simple-auth</li>
         <li>Deployment: ember-cli-deploy</li>
         <li>...</li>
      </ul>
   </section>
</section>