<section class=partial>
   <section>
      <h2>Templates</h2>

      <p>
         Ember.js uses the Handlebars templating library.
      </p>
      <p>
         Ember takes Handlebars and extends it with many features.
      </p>
   </section>
   <section>
      <h3>Handlebars Basics</h3>

      <p>
         Handlebars uses curly braces expressions
      </p>

      <pre style="text-align:center"><code class="hbs" data-trim>
  Hello, <strong>{{firstName}} {{lastName}}</strong>!
      </code></pre>
      <br>

      <p>
         The <i>firstname</i> and <i>lastname</i> properties comes from the controller
      </p>

      <pre><code class="js">
   export default Ember.Controller.extend({
      firstName: 'Trek',
      lastName: 'Glowacki'
   });
      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The application template</h3>

      <p>
         The application template is the default template that is rendered when your application starts.
      </p>
      <pre><code class="hbs">
   <header>
      <h1>Todos</h1>
   </header>

   <div>
      {{outlet}}
   </div>

   <footer>
      &copy;2016 Todo List
   </footer>
      </code></pre>

      <aside class="notes">
         <ul>
            <li>{{outlet}} is a <strong>placeholder</strong> that the router will fill in with the appropriate template, based on the current URL.</li>
         </ul>
      </aside>
   </section>
</section>