<section class=partial>
   <section>
      <h2>Templates</h2>

      <p>
         Ember.js uses the Handlebars templating library.
      </p>
      <p>
         Ember takes Handlebars and extends it with many features.
      </p>
   </section>
   <section>
      <h3>The application template</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Conditionnals</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Lists</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Binding Element Attibutes</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Binding Element Class Names</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Links</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Actions</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Inuput helpers</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Rendering with helpers</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Wrinting helpers</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>