<section class=partial>
   <section>
      <h2>Models</h2>

      <p>
         Models are objects that represent the underlying data that your application presents to the user.
      </p>
   </section>
   <section>
      <h3>Defining Models</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Creating and Deleting Records</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Pushing Records into the Store</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Persisting Records</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Finding Records</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Working with Records</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The Rest Adapter</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Connecting to an HTTP Server</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Handling Metadata</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Customizing Adapters</h3>

      <p>
      </p>
      <pre><code class="html">

      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>