<section class=partial>
   <section>
      <h2>Router</h2>

      <p>
         It translates the URL into a series of nested templates with their model
      </p>
      <p>
         In Ember.js each State is represented by a URL
      </p>
   </section>
   <section>
      <h3>Defining Your Routes</h3>
      <p>
         app/router.js
      </p>
      <pre><code class="js">
   Router.map(function() {
      this.route('todos', {path : '/'});
   });
      </code></pre>
      <pre><code class="js">
   Router.map(function() {
      this.route('todos', {path : '/'}, function() {
         this.route('edit');
      });
   });
      </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Dynamic segments</h3>
      <p>The route handler converts a URL into a model</p>
      <p>app/routes/todos.js</p>
      <pre><code class="js">
   export default Ember.Route.extend({
      model () {
         return this.store.findAll('todo');
      }
   });
      </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Loading / Error Substates</h3>
      <p>
         Ember provides a default implementation of the loading / error process
      </p>
      <p>
         Routes
      </p>
      <pre><code class="js">   todos.edit.loading
   todos.loading
   loading</code></pre>
      <p>
         Templates
      </p>
      <pre><code class="js">   app/templates/todos/edit/loading.hbs
   app/templates/todos/loading.hbs
   app/templates/loading.hbs</code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>