<section class=partial>
   <section>
      <h2>The Object Model</h2>

      <p>
      </p>
   </section>
   <section>
      <h3>Classes and Instances</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Reopening Classes and Instances</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Computed Properties</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Computed Properties and aggregate data with @each</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Observers</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Binding</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Computed Properties, Observers, Binding</h3>
      <h4>What do I use when?</h4>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Enumerables</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>