<section class=partial>
   <section>
      <h2>Components</h2>

      <p>
      </p>
   </section>
   <section>
      <h3>Defining a Component</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Passing Properties to a Component</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Wrapping Content in a Component</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Customizing a Component's Element</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Handling User Interaction with Actions</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Sending Actions from Components to Your Application</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Composing Components</h3>
      <p></p>
      <pre><code class="html"> </code></pre>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>