<section class=partial>
   <section>
      <h2>What next ?</h2>

      <p>
      </p>
   </section>
   <section>
      <h3>From MVC to MRCS</h3>

      <p>
         From Model-View-Controller to Model-Route-Component-Service
      </p>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Two-way bindinds</h3>

      <p>
         Two-way bindings are replaced by data down, actions up (DDAU).
      </p>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>