<section class=partial>
   <section>
      <h2>Ember-cli</h2>

      <ul>
         <li>
            The Ember.js command line utility
            <br>
            <br>
         </li>
         <li class="fragment" data-fragment-index="1">
            Provides a Broccoli powered asset pipeline,
         </li>
         <li class="fragment" data-fragment-index="2">
            a strong conventional project structure,
         </li>
         <li class="fragment" data-fragment-index="3">
            and a powerful addon system for extension
         </li>
      </ul>

      <p class="fragment" data-fragment-index="4">
         <em>Install with npm i -g ember-cli</em>
      </p>
   </section>
   <section>
      <h3>Create a new project</h3>

      <p>
         ember new &lt;project name&gt;
      </p>
      <img width="800" src="/img/ember_new_emberTodo.gif" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The project structure</h3>

      <img src="/img/Project_Structure.png" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>The app structure</h3>

      <img src="/img/App_Structure.png" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Add a new resource</h3>

      <p>
         ember generate resource &lt;resource name&gt; &lt;options&gt;
      </p>
      <img width="800" src="/img/ember_resource_emberTodo.gif" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Install a plugin</h3>

      <p>
         ember install &lt;plugin name&gt;
      </p>
      <img width="800" src="/img/ember_install_addon.gif" alt=""/>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Add a bower dependency</h3>

      <p>
         Exemple: Install a localstorage adapter
      </p>

      <pre class="fragment" data-fragment-index="1"><code class="shell">
   $ bower install ember-localstorage-adapter
      </code></pre>

      <br>

      <p class="fragment" data-fragment-index="2">
         In the file <em>ember-cli-build.js</em>
      </p>

      <pre class="fragment" data-fragment-index="2"><code class="javascript">
   var EmberApp = require('ember-cli/lib/broccoli/ember-app');

   module.exports = function(defaults) {
      var app = new EmberApp(defaults, {});

      app.import(app.bowerDirectory +
            '/ember-localstorage-adapter/localstorage_adapter.js');

      return app.toTree();
   };
      </code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>