<section class=partial>
   <section>
      <h2>What is Ember ?</h2>
      <ul>
         <li>Open-source JavaScript application framework</li>
         <li>Based on the model-view-controller (MVC) pattern</li>
         <li>It advocates for convention over configuration</li>
      </ul>
      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Tomster</h3>

      <img src="/img/builtwith.png" alt=""/>
   </section>
   <section>
      <h3>History</h3>

      <dl>
         <dt>December 2011</dt>
         <dd>The SproutCore 2.0 framework was renamed to Ember.js</dd>
         <dt>August 2013</dt>
         <dd>Ember 2.0 was released</dd>
         <dt>Today</dt>
         <dd>The 1.x branche is still living / Ember.js 2.2 was released</dd>
      </dl>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>